#wrapper{

    width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-family: Arial,sans-serif; /*damit komplette Webseite das hat*/

}

body{
    background-color: #EDEBE8; /*grauer Hintergrund*/

}

header{

    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    text-align: center;

}

nav{

    text-align: center;

}

nav ul{

    list-style-type: none;
}

nav li{

    display: inline;
    margin-right: 40px;

}

a{
    color: #777;
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-family: Arial,sans-serif;


}

section{

    width: 603px;
    float: left;
    padding: 15px;/*Innenabstand*/
    margin-top: 15px;/*Außenabstand oben*/
    margin-right: 15px;/*Außenabstand rechts*/
    background-color: #F2F2F2;/*helleres grau als Hintergrund*/
    border: 1px solid #DEDCD9; /*für den Rand, solid = typ, Farbe = #DEDCD9*/
    border-radius: 5px;  /*abgerundete Ecken*/
    margin-bottom: 15px;
}

.article{

    height: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #DEDCD9;
}

.article img{
    float: left;
    padding: 5px;
    margin-right: 10px;
}

.article a{

    font-size: 18px;

}

aside{

    width: 258px;
    float: right;
    padding: 25px;
    margin-top: 15px;
    background-color: #F2F2F2;
    border: 1px solid #DEDCD9;
    border-radius: 5px;
    margin-bottom: 15px;

}

.sidebar img{
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #DEDCD9;
}

.sidebar a{

    font-size: 18px;
    padding: 5px;

}

.sidebar p{

    padding: 5px;

}

footer{
    background-color: #F2F2F2;/*helleres grau als Hintergrund*/
    border: 1px solid #DEDCD9; /*für den Rand, solid = typ, Farbe = #DEDCD9*/
    border-radius: 5px;  /*abgerundete Ecken*/
    clear: both;

}

footer ul{

    float: left;
    list-style: none;
    padding: 0px;
    margin: 20px;

}

footer li{

    margin-right: 15px;
    display: inline;

}

footer p{

    text-align: right;
    margin-right: 20px;
    color: #777;

}

#über{

    margin: 15px;


}
#über h1{

    color: #777;
    padding-bottom: 10px;

}
#kontakt{

    margin: 15px;

}
#kontakt h1{

    color: #777;
    padding-bottom: 10px;

}